
@model TeknikServisCore.Models.ViewModels.PasswordEditViewModel


<form class="form-horizontal" asp-controller="Profile" asp-action="EditPassword" asp-antiforgery="true" method="post">
    <div asp-validation-summary="All" class="text-danger">

    </div>
    <h2>@TempData["Message"]</h2>
    <div class="form-group row">
        <label class="control-label col-md-3" asp-for="@Model.OldPassword">Eski Şifre</label>
        <div class="col-md-9">
            <input class="form-control" type="password" asp-for="@Model.OldPassword"/>
            <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3" asp-for="@Model.NewPassword">Şifre</label>
        <div class="col-md-9">
            <input class="form-control" type="password" asp-for="@Model.NewPassword"/>
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3" asp-for="@Model.ConfirmNewPassword">Şifre Tekrar</label>
        <div class="col-md-9">
            <input class="form-control" type="password" asp-for="@Model.ConfirmNewPassword"/>
            <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>



    <input id="submit" class="btn btn-warning " type="submit" value="Şifreyi Güncelle"/>

</form>
